<h1>Booking Details </h1>

<h3>Flight Information</h3>

<%= render 'flight_info' %>

<h3>Passenger Information</h3>

	<% passenger_count = 1 %>
	<% @booking.passengers.each do |passenger| %>
		<table>
			<h4><%= "Passenger #{passenger_count}" %></h4>
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= passenger.name %></td>
					<td><%= passenger.email %></td>
				</tr>
			</tbody>
			<% passenger_count += 1 %>
		</table>
	<% end %>
