// Place all the styles related to the Flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border: 1px solid black;
  border-collapse: collapse;
  padding-right: 5px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#search_button {
	float: right; 
	margin-top: 1px;
}